<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleos Foundation Impact Numbers </title>
    <style>
        body {
           color: #1c335a;
           font-family: quincy-cf, serif;
           text-align: center;
           font-size: large;
        }

        title {
            color: #1c335a;
            font-family: quincy-cf, serif;
        }
        h2 {
           color: #1c335a;
           font-family: quincy-cf, serif;
           text-align: center;
           font-size: xxx-large;
        }
    </style>
</head>

<h2>Eleos Foundation Impact Numbers</h2>

<body>
<p>Total Pads: {{ total_pads }}</p>
<p>Total Tampons: {{ total_tampons }}</p>
<p>Total Underwear: {{ total_undies }}</p>
<p>Total Bras: {{ total_bras }}</p>
<!--
<br>
<p>Total Pads this year: {{ total_pads_year }}</p>
<p>Total Tampons this year: {{ total_tampons_year }}</p>
<p>Total Underwear this year: {{ total_undies_year }}</p>
<p>Total Bras year: {{ total_bras_year }}</p>
-->
<img src="./static/eleos_navy_orange.PNG" style="text-align:center;height:128px;">
</body>
</html>